
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<title>详情</title>
</head>

<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src=""/>
	      </a>
	    </div>
	  </div>
	</nav>

	<div class="container">
		<div class="col-md-offset-1 col-md-8">
		  	<div class="row">
				<div class="col-md-offset-1 col-md-2">
					<div class="row">
					  <h3 class="text-primary">白说</h3>
					  <img style="width:105px;height:145px;" src="#" />
					</div>
					
				</div>
				<div class="col-md-7" style="color:#666;">
					<br/><br/><br/>
					
					<div class="row">
					  作者：白岩松<br/>
					</div>
					<div class="row">
					  点击量：1000<br/>
					</div>
					<hr/>
					<div class="row">
					  价格:25<br/>
					</div>
					<div class="row">
					  类型：文学<br/>
					</div>
					<div class="row">
					  上架时间：2015-9-1<br/>
					</div>
					<div class="row">
					  ISBN:9787535481108<br/>
					</div>
					<div class="row">
					  出版社:电子工业出版社<br/>
					</div>
		        </div>
		    </div>
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
					<br/>
					<div style="border-bottom:1px #428bca solid;">
					<span class="badge" style="font-size:24px; color:#fff; background-color:#428bca; ">详</span>&nbsp;
					<span class="text-primary">情介绍:</span>
					</div>
					<div class="content" style="color:#666;">
					     <br/>此处为介绍<br/><p>如果有来生， 
					                  要做一棵树， 
					                  站成永恒， 
					                  没有悲欢的姿势。
					                  一半在土里安详， 
					                  一半在风里飞扬， 
					                  一半洒落阴凉，
					                  一半沐浴阳光， 
					                  非常沉默非常骄傲， 
					                  从不依靠 从不寻找。
					                   </p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="text-primary">
					<h3>这些也不错<hr/></h3>
				</div>
			</div>
			<div class="row">
				<a href="#"><img style="width:120px;height:155px;" src="#" /></a>
			</div>
			<div class="row text-center">
				<a href="#">书名</a>
			</div>
			<div class="row">
			<br/>
				<a><img style="width:120px;height:155px;" src="#" /></a>
			</div>
			<div class="row text-center">
				<a href="#">书名</a>
			</div>
		</div>

		<div class="col-md-2">
		</div>
	</div>
	

	<div class="container">
	  <p>&nbsp;<br/></p>
	</div>
	<div class="well" style="margin-top:50px;">
	  <span class="center-block text-center"><a 
	          onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('index.html');" 
	          href="index.html">设为首页</a>　|&nbsp;&nbsp; <a href="http://url.cn/SZkzYc">加入我们</a> <br/>
	          Copyright @ 毅行者<br></span>
	</div>
</body>
</html>
