<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<title>news</title>
</head>

<body>
<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" />
	      </a>
	    </div>
	  </div>
	</nav>

<div class="container">
	<div class="row">
      <h1>news come one</h1>
      <p>如果有来生， 
          要做一棵树， 
          站成永恒， 
          没有悲欢的姿势。 
          一半在土里安详， 
          一半在风里飞扬， 
          一半洒落阴凉， 
          一半沐浴阳光， 
          非常沉默非常骄傲， 
          从不依靠 从不寻找。
       </p>
     </div>
     <div class="row">
     	<div id="myCarousel" class="carousel slide">
           <!-- 轮播（Carousel）指标 -->
           <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
           </ol>   
           <!-- 轮播（Carousel）项目 -->
           <div class="carousel-inner text-center">
              <div class="item active">
                 <a href="#" alt="First slide"></a>
              </div>
              <div class="item">
                 <a href="#" alt="Second slide"></a>
              </div>
              <div class="item">
                 <a href="#" alt="Third slide"></a>
              </div>
           </div>
           <!-- 轮播（Carousel）导航 -->
           <a class="carousel-control left" href="#myCarousel" 
              data-slide="prev">&lsaquo;</a>
           <a class="carousel-control right" href="#myCarousel" 
              data-slide="next">&rsaquo;</a>
        </div> 

     </div>

	<div class="row text-center">
      <ul class="pager">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
  </div>
</div>
 
<div class="well">
  <span class="center-block text-center"><a 
          onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('index.html');" 
          href="index.html">设为首页</a>　|&nbsp;&nbsp; <a href="http://url.cn/SZkzYc">加入我们</a> <br/>
          Copyright @ 毅行者<br></span>
</div>
</body>
</html>
